.ltnheader {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
  // background-color: #fff;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 5;

  .row1 {
    max-width: 1260px;
    height: 60px;
    margin: 0 auto;
    padding: 12px 0 0;
    display: flex;

    .logo {
      display: inline-block;
      width: 185px;
    }

    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      padding-inline-start: 40px;
      unicode-bidi: isolate;

      .header_kw {
        display: inline-block;
        margin: 0 0 7px 30px;
      }
    }

    .ltnsch_show {
      display: inline-block;
      // float: right;

      margin: 5px 0 0 auto;
      position: relative;

      input {
        width: 200px;
        height: 30px;
        padding: 0 10px;
        border-radius: 20px;
        border: 1px solid #999;
        background-color: #fff;
        outline: none;
        transition: all 0.3s;
        color: #555;
        position: absolute;
        top: 0;
        right: 0;
      }

      form {
        display: block;
        margin-top: 0em;
        unicode-bidi: isolate;
        button {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url(https://cache.ltn.com.tw/images/icon/g_search.svg)
              no-repeat center,
            transparent;
          background-size: 20px;
          border: none;
          position: absolute;
          top: 0;
          right: 6px;
          z-index: 1;
          cursor: pointer;
          padding: 0;
        }
      }
    }
  }

  .row2 {
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    scrollbar-width: thin;
    overflow-y: hidden;

    .slipR {
      display: none;
    }

    ul {
      max-width: 1260px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0 10px;
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }

    ul li {
      flex-shrink: 0;
    }
  }
}

.h_kw {
  // 對應 style.h_kw
  display: inline-block;
  a {
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #d66900;
    padding: 2px 12px 3px;
    margin: 0 15px 0 0;
  }
}

/*  手機（< 600px） */
@media (max-width: 600px) {
  .header_kw {
    display: none !important;
  }
}

/* 平板（800–1023px） */
@media (min-width: 800px) and (max-width: 1023px) {
}

/* 桌機（≥ 1024px） */
@media (min-width: 1024px) {
}
