.features_footer {
  width: 100%;
  background-color: #fff;
  clear: both;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #eee;

  a {
    display: inline-block;
    margin: 0px auto 5px;
  }
}
