.listEnd {
  display: none;
  text-align: center;
  margin: 15px auto;

  text-align: center;
  width: 100%;
  clear: both;
  line-height: 2;
  border: none;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  margin: 0px auto 40px;
}
