.news2 {
  width: calc(100% - 70% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  margin: 0 0 0 20px;
  overflow: hidden;
}

.swiperContainer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiperWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  // transition-property: transform;
  // transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.box440 {
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
}

.size {
  position: relative;
  width: 100%;
  // height: 0;
  height: 142px;
  padding-bottom: 55%;
  overflow: hidden;
  border-radius: 8px;
}
.videoLiveTit {
  width: 100%;
  max-height: 50px;
  background-color: #fff;
  padding: 5px 5px 0;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: Arial, helvetica, "微軟正黑體", sans-serif;
  font-weight: normal;
  color: #111;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.videoIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(https://www.ltn.com.tw/assets/images/video01.svg) no-repeat
    center;
  background-size: 20px;
  vertical-align: top;
  margin: 0 4px 0 0;
}

.swiper-B {
  margin-bottom: 20px;
  position: relative;

  .btnPrev,
  .btnNext {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    display: block;
  }

  .btnPrev {
    left: 10px;
  }
  .btnNext {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
  .btnPrev:before {
    content: "";
    display: block;
    width: 30px;
    height: 50px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iODAiIGhlaWdodD0iMTUwIj48cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iNjAsMTAgMjIsNzIuNSA2MCwxNDAgIi8+PC9zdmc+);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
  }
  .btnNext:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iODAiIGhlaWdodD0iMTUwIj48cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iNjAsMTAgMjIsNzIuNSA2MCwxNDAgIi8+PC9zdmc+);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
  }
}

/*  手機（< 600px） */
@media (max-width: 600px) {
  .news2 {
    width: 98%;
    margin: 20px 1%;
    float: none;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // float: left;
    // margin: 0 0 0 20px;
    // overflow: hidden;
  }
}

/* 平板（800–1023px） */
@media (min-width: 800px) and (max-width: 1023px) {
}

/* 桌機（≥ 1024px） */
@media (min-width: 1024px) {
}
