.swiper-A {
  width: 70%;
  float: left;
  margin: 0 0 40px;
  z-index: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #fff;

  .swiper-pagination .pagination {
    height: 25px;
    top: 4px !important;
    text-align: right !important;
    padding-right: 0.6rem;
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 0.3s opacity;
    -o-transition: 0.3s opacity;
    transition: 0.3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-pagination-bullets {
    // bottom: 10px;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: right;
    padding-right: 10px;
  }
  .swiper-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin: 0 3px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 1;
    cursor: pointer;

    // 使用 :global 讓這個 class 保持原名，不被加上雜湊碼
    &:global(.swiper-pagination-bullet-active) {
      background: #ffbd00 !important;
      opacity: 1 !important;
    }
  }

  a {
    color: #111;

    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      outline: none;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 70px;
    z-index: 10;
    cursor: pointer;
    display: block;
  }
  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-next::before {
    transform: rotate(180deg);
  }

  .swiper-button-prev::before,
  .swiper-button-next::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iODAiIGhlaWdodD0iMTUwIj48cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iNjAsMTAgMjIsNzIuNSA2MCwxNDAgIi8+PC9zdmc+);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
  }
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 64%;
  overflow: hidden;

  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  // flex-shrink: 0;
  // width: 100%;
  // height: 100%;
  position: relative;
  // -webkit-transition-property: -webkit-transform;
  // transition-property: -webkit-transform;
  // -o-transition-property: transform;
  // transition-property: transform;
  // transition-property: transform, -webkit-transform;

  .ph {
    position: relative;
    width: 100%;
    height: 400px;
    // height: 0;
    // padding-bottom: 64%;
    aspect-ratio: 100 / 64;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .title {
    width: 100%;
    padding: 1.6% 2%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(44, 39, 39, 0.7);

    h2 {
      display: block;
      font-size: 27px;
      letter-spacing: 0.5px;
      color: #fff;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;

      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
    }
  }
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  height: 403px;

  .swiper-wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    z-index: 1;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-transition-property: -webkit-transform;
    // transition-property: -webkit-transform;
    // -o-transition-property: transform;
    // transition-property: transform;
    transition-property: transform, -webkit-transform;
    // -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}

/*  手機（< 600px） */
@media (max-width: 600px) {
  .swiper-container {
    width: 100%;
    height: 330px;
  }
}

/* 平板（800–1023px） */
@media (min-width: 800px) and (max-width: 1023px) {
}

/* 桌機（≥ 1024px） */
@media (min-width: 1024px) {
}
