.caption {
  width: calc(100% - 24px);
  margin: 0 auto;
  //   float: right;

  display: block;
  border-bottom: 4px solid #b03c3f;

  b {
    font-size: 21px;
    letter-spacing: 1px;
    color: #b03c3f;
    line-height: 1.5;

    font-weight: bold;
  }

  .triangle {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: #b03c3f;
    margin: 8px 0 0;
    -webkit-clip-path: polygon(0 0, 0% 100%, 60% 50%);
    clip-path: polygon(0 0, 0% 100%, 60% 50%);
    float: right;
  }

  &:hover .triangle {
    background: #6e1518;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.breakingnews {
  background-color: #f5f5f5;
  padding: 12px 0;
  margin: 0 auto 20px;
  border-radius: 10px;
  overflow: hidden;
}

.content_list {
  width: 100%;
  // height: 620px;
  // height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 0;
  //   gap: 30px 0;

  padding: 10px 6px 10px 15px;
  overflow: auto;

  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  list-style: none;

  li {
    width: 100%;
    border-bottom: 1px dashed #999;
    padding: 0 0 7px;
    list-style: none;

    display: list-item;
    unicode-bidi: isolate;

    margin: 0;
    //   padding: 0;
    //   border: 0;
    font-size: 16px;
    vertical-align: baseline;

    height: auto;
  }

  a {
    width: 100%;
    display: flex;
    box-sizing: border-box;

    .ph {
      width: 45%;
      height: 0;
      background: url(https://www.ltn.com.tw/assets/images/default.png)
        no-repeat;
      background-size: 100% auto;
      padding: 0 0 22.5%;
      border-radius: 5px;
      overflow: hidden;

      display: none;
      position: relative;
      aspect-ratio: 16/9;

      .lazy_imgs_ltn {
        object-fit: cover;
        object-position: center;
      }
    }

    .tit {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: column;
      padding: 0 10px;

      h3 {
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 1.3;
        max-height: 45px;
        overflow: hidden;
      }

      p {
        display: flex;
        align-items: baseline;
        margin: auto 0 0;

        letter-spacing: 1px;

        span {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 16px;
          vertical-align: baseline;
        }
      }

      .time {
        display: inline-block;
        font-size: 13px;
        color: #d66a00;
      }
      .category {
        display: inline-block;
        font-size: 13px;
        color: #d66a00;
        margin: 0 0 0 11px;
        padding: 0 0 0 10px;
        border-left: 1px solid #d66a00;
      }
    }

    &:link &:active,
    &:visited {
      color: #111;
    }
    &:hover {
      color: #b03c3f;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.breakingnews .content_list {
  height: 620px;
  padding: 10px 6px 10px 15px;
  overflow: auto;
  gap: 10px 0;
}

.moreBtn {
  display: none;
  width: 90%;
  font-size: 18px;
  letter-spacing: 1px;
  color: #b03c3f;
  text-align: center;
  border: 1px solid #b03c3f;
  border-radius: 5px;
  padding: 6px 0 5px;
  margin: 0 auto 20px;
}

/*  手機（< 600px） */
@media (max-width: 600px) {
  .breakingnews .content_list {
    height: auto;
    overflow: visible;
  }

  .breakingnews {
    background: none;
  }

  .content_list {
    li {
      border-bottom: none;
    }

    .ph {
      display: block !important;
    }
  }

  .caption {
    b {
      font-size: 24px;
    }
  }

  .moreBtn {
    display: block;
  }
}

/* 平板（800–1023px） */
@media (min-width: 800px) and (max-width: 1023px) {
}

/* 桌機（≥ 1024px） */
@media (min-width: 1024px) {
}
