body {
  background-color: #f7f7f7;
  color: #111;
  line-height: 1.3;
}

.whitecon {
  width: 100%;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 0px auto 30px;
}

.list {
  padding: 20px;
  margin: 0;
}

/*  手機（< 600px） */
@media (max-width: 600px) {
  .content940 {
    max-width: none;
    float: none;
  }

  .right {
    display: none;
  }

  .right300 {
    display: none;
  }
}

/* 平板（800–1023px） */
@media (min-width: 800px) and (max-width: 1023px) {
}

/* 桌機（≥ 1024px） */
@media (min-width: 1024px) {
}
